.Fo{ background-color: rgb(235, 207, 51);
}
.Te{ background-color: rgb(233, 174, 49);
}
.Lo{ background-color: rgb(46, 18, 201);
}
.Re{ background-color: rgb(46, 18, 201);
}
.Fe{ background-color: rgb(16, 224, 9);
}
.Be{
    color:rgb(30, 255, 0);
    font-family:'Supermercado One' ;
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
}

.Regi{
    color:rgb(241, 141, 25) ;
    font-family:'Supermercado One' ;
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
}

#fel{
    color:rgb(75, 9, 255);
    text-align: center;
    margin-top: 150px;
    font-family:'Supermercado One' ;
    font-size: 25px;
}

#uplo{
    border-radius: 15px;
    color:rgba(255, 0, 0, 0.801);
}

#oldalsav{
    font-family:'Supermercado One' ;
}

.area{
    border-radius: 15px;
}

#sub{
    font-size: 20px;
    text-align: center;
    color:rgba(255, 0, 0, 0.733);
    border-radius: 10px;
}

#submit{
    font-size: 17px;
   text-align: center;
   color:rgba(255, 0, 0, 0.582);
   border-radius: 10px;
}

#ki{
    padding-left: 48em !important;
    }

.topnav{background-color: rgb(223, 19, 19);
    color:black;
    padding: 10px;
    font-size:27px;
    margin:0px;
    word-spacing: 25px;
    text-indent: 5px;

}
.topnav a{text-decoration:none;
    color:black;
    font-family: 'Supermercado One';
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 73px;
    left: 0;
    background-color: rgb(135, 240, 240);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.3s;
    font-family: 'Supermercado One';
}
  
  
  .sidenav a:hover {
    color:red;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }