body{
    margin-top: 4.6rem !important;
}
.Fo{ background-color: rgb(235, 207, 51);
    position: relative;
    font-family:'Sansita Swashed' ; 
}
.Te{ background-color: rgb(206, 149, 27);
}
.Lo{ background-color: rgb(46, 18, 201);
}
.Re{ background-color: rgb(46, 18, 201);
}
.Fe{ background-color: rgb(39, 219, 33);
}
.Pro{ background-color: skyblue;

}

.kep{
    max-width: 20rem;
    max-height: 10rem;
    display: block;
    margin: auto;
}

.kozep{
    display:flex;
    text-align: center !important;
    min-height: 10rem;
    align-items: center;
}

.keret{
    display: inline;
    margin:1%;
    min-width: 32%;
    margin: auto;
    float:initial;
    margin-bottom: 3%;
    font-family:'Sansita Swashed' ;
    max-height: 27rem;
    min-height: 23rem !important;
    border: rgb(34, 180, 34) 5px inset;
}

.alkat{
    padding: 8px 8px 8px 40px !important;
    text-decoration: none;
    font-size: 20px !important;
    color: gray !important;
    display: block;
    transition: 0.3s;
    font-family: 'Sansita Swashed';
    
}

.gombok{
    color:yellow  !important;
}

#edi{
    color: indigo;
    font-family:'Sansita Swashed' ; 
    border-radius: 5px;
    background-color: lightgray;
    margin-bottom: 1rem;
}

#edigo{
    color: indigo;
    font-family:'Sansita Swashed' ;
    background-color: lightgray;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.luk{
    margin-top: 0.5%;
}

#alchat{
    border: 1px double rgb(28, 28, 194) ;
    width: 30%;
    position:fixed;
    bottom:0.5rem;
    left: 0.5rem;
    background-color: darkgoldenrod;
    font-family:'Sansita Swashed' ;
}

#uzik{
    color: darkblue;
    
}

.chat{
    margin: 0.75rem;
    width: 75%;
    border-radius: 3px;
    background-color:deepskyblue ;
    color:darkred;
    border: 1px solid dodgerblue;
    overflow-y: scroll;
    resize: none;
}

#chati{
    border-radius: 5px;
    color: darkviolet;
    background-color: darksalmon;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width:80%;
    float: right;
}

.Prof{
    color: indigo;
    font-family:'Sansita Swashed' ;
    font-size: 25px;
    margin-top: 5rem;
    text-indent: 3rem;
}

.Be{
    color:rgb(30, 255, 0);
    font-family:'Sansita Swashed' ;
    font-size: 25px;
    text-align: center;
    margin-top: 15rem;
}

.Regi{
    color:rgb(241, 141, 25) ;
    font-family:'Sansita Swashed' ;
    font-size: 25px;
    text-align: center;
    margin-top: 10rem;
}

#fel{
    color:rgb(75, 9, 255);
    text-align: center;
    margin-top: 10rem;
    font-family:'Sansita Swashed' ;
    font-size: 25px;
}
#uzlet{
    border-radius: 10px;
    color:rgba(0, 0, 0, 0.89);
    margin: 5px;
    background-color: aqua;
}

#uplo{
    border-radius: 15px;
    color:rgba(255, 0, 0, 0.801);
}

.upi{
    padding-top: 15px;
}

#oldalsav{
    font-family:'Sansita Swashed' ;
    width:11%;
}

.area{
    border-radius: 15px;
}

#sub{
    font-size: 20px;
    text-align: center;
    color:rgba(255, 0, 0, 0.733);
    border-radius: 10px;
}

#submit{
    font-size: 17px;
   text-align: center;
   color:rgba(255, 0, 0, 0.582);
   border-radius: 10px;
}

#ki{
    
    position: relative;
    bottom: 0px;
    right:0px;
    }

.topnav{background-color: rgb(255, 0, 0);
    color:black;
    font-size:27px;
    margin:0px;
    word-spacing: 25px;
    text-indent: 1rem;
    height: 4.6rem;
}
.sticky{
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    
}
.topnav a{text-decoration:none;
    color:black;
    font-family: 'Sansita Swashed';
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 73px;
    left: 0;
    background-color: rgb(135, 240, 240);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.3s;
    font-family: 'Sansita Swashed';
}
  .navbar-nav{
    position: absolute;
  }
  
  .sidenav a:hover {
    color:rgb(255, 0, 0);
    
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .nav-link{
      background-color: rgb(255, 0, 0);
  }
